body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
------------ COLORS ------------
*/
.nav-colors {
  display: inline-block; /* Make the container size to the text content */
  background-color: darkblue;
  color:#b51a00;
  text-decoration: none;
  padding: 10px;
  font-size:60px;
}

.wd-fd-red-link {
  color:#b51a00;
  text-decoration: none;
}


.wd-fg-black {
  color: black;
}

.wd-fg-white {
  color: white;
}

.wd-fg-blue {
  color: #7070ff;
}

.wd-fg-red {
  color: red;
}

.wd-fg-green {
  color: green;
}

.wd-bg-black {
  background-color: black;
}
.wd-bg-white {
  background-color: white;
}
.wd-bg-yellow {
  background-color: #ffff07;
}

.wd-bg-blue {
  background-color: #7070ff;
}

.wd-bg-red {
  background-color: #ff7070;
}

.wd-bg-green {
  background-color: green;
}

/*
------------ DIMENSIONS ------------
*/

.wd-dimension-portrait {
  width: 75px;
  height: 100px;
}

.wd-dimension-landscape {
  width: 100px;
  height: 75px;
}

.wd-dimension-square {
  width: 80px;
  height: 80px;
}

.wd-dimension-sidebar {
  background-color: black;
  
}

/*
------------ FLEX ------------
*/

.wd-flex-row-container {
  display: flex;
  flex-direction: row;
}


/*
------------ MARGINS ------------
*/

.wd-margin-all-around {
  margin: 10px;
}

.wd-margin-bottom {
  margin-bottom: 10px;
}

.noborder {
  border: none;
}

.sidebar-two-margins {
  margin-left: 10px;
  margin-top: 5px;
}
/*
------------ PADDING ------------
*/

.wd-padded-top-left {
  padding-top: 50px;
  padding-left: 50px;
}

.wd-padded-top-Selected-icon {
  padding-top: 10px;
  color:white;
}

.wd-padded-left {
  padding-left: 2px;
}

.wd-padded-bottom-right {
  padding-bottom: 50px;
  padding-right: 50px;
}


.wd-padding-fat {
  padding: 50px;
}

.wd-padding-min {
  padding : 5px;
}

/*
------------ POSITION ------------
*/

.centered-cell {
  text-align: center;
}

.left-cell {
  text-align: left;
  margin-top: 20px;
}

.wd-zindex-bring-to-front {
  z-index: 10;
}

.wd-position-absolute {
  position: absolute;
}

/*
------------ List styling ------------
*/

ul {
  list-style-type: none;

}

.ul-reposition {
  margin-left: -23.5px;
  /*margin-right: 10px;*/
}

.wd-dimension-sidebar-width {
  margin: 80px;
}

/*
------------ List styling ------------
*/

.breadcrumb-font-size {
  font-size: 18px;
}

.large-label {
  font-size: 40px;
}

.item-front-size {
  font-size: 20px;
}

.button-styling{
  border-radius: 50px;
  margin: 10px;
}